@import "tailwindcss";

:root {
  --background: #daebff;
  --foreground: #f0f7ff;
  --header: #000000;

  --paragraph: #4a4e69;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header: var(--header);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
} */

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: var(--background);
}

h1 {
  color: var(--header);
}

p {
  color: var(--paragraph);
  font-family: "Baufra", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-foreground {
    color: var(--foreground);
  }
  .bg-foreground {
    background-color: var(--foreground);
  }
  .text-background {
    color: var(--background);
  }
  .bg-background {
    background-color: var(--background);
  }
}
