@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import "tailwindcss";

:root {
  --background: #90b2fa;
  --foreground: #f0f7ff;
  --header: #000000;

  --paragraph: #4a4e69;

  --font-bodoni: "Bodoni Moda", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header: var(--header);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bodoni: var(--font-bodoni);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
} */

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(135deg, var(--background) 0%, #f5f9ff 100%);
  color: var(--foreground);
  font-family: var(--font-bodoni);
  margin: 0;
  padding: 0;
}

header {
  color: var(--background);
}

h1 {
  color: var(--header);
}

p {
  color: var(--paragraph);
  font-family: var(--font-bodoni);
}

@layer utilities {
  .text-foreground {
    color: var(--foreground);
  }
  .bg-foreground {
    background-color: var(--foreground);
  }
  .text-background {
    color: var(--background);
  }
  .bg-background {
    background-color: var(--background);
  }
}
