@import "tailwindcss";

:root {
  --background: #a1cdec;
  --foreground: #eff9ff;
  --header: #000000;
  --paragraph: #232323;
  --small-header: #080808;
  --font-bodoni: var(--font-bodoni), serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header: var(--header);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bodoni: var(--font-bodoni);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
} */

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(135deg, var(--background) 0%, #f5f9ff 100%);
  color: var(--foreground);
  font-family: var(--font-bodoni);
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 110vh;
}

header {
  color: var(--background);
  font-family: var(--font-bodoni);
}

h1 {
  color: var(--header);
}

h2 {
  color: var(--small-header);
}

p {
  color: var(--paragraph);
  font-family: var(--font-bodoni);
}

@layer utilities {
  .text-foreground {
    color: var(--foreground);
  }
  .bg-foreground {
    background-color: var(--foreground);
  }
  .text-background {
    color: var(--background);
  }
  .bg-background {
    background-color: var(--background);
  }
  .nav-link {
    text-shadow: 0 0 0 transparent;
  }
  .nav-link:hover {
    text-shadow: 0 0 0.5px currentColor;
  }
}
